{% extends "layout.html" %}
{% block title %}Contacts{% endblock title %}

{% block content %}
<form class="tool-bar" action="{{ Path }}" method="get">
  <label>
    Search Term
    <input id="search" type="search" name="q" value="{{ search_term.as_deref().unwrap_or("") }}">
    <input type="submit" value="Search">
  </label>
</form>

<table>
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
      <tr>
        <td>{{ contact.first }}</td>
        <td>{{ contact.last }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>
          <a href="{{ item::edit::Path::new(contact.id) }}">Edit</a>
          <a href="{{ item::Path::new(contact.id) }}">View</a>
        </td>
      </tr>
    {% endfor %}
    {% if contacts.len() == 10 %}
      <tr>
        <td colspan="5" style="text-align: center">
          <span
            hx-target="closest tr"
            hx-swap="outerHTML"
            hx-select="tbody > tr"
            hx-trigger="revealed"
            hx-get="{{ Path.with_params(search_term, Some(page + 1)) }}"
          >
            Load More
          </span>
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
<div>
  <span style="float: right">
  {% if page > 1 %}
    <a href="{{ Path.with_params(search_term, Some(page - 1)) }}">Previous</a>
  {% endif %}
  {% if contacts.len() == 10 %}
    <a href="{{ Path.with_params(search_term, Some(page + 1)) }}">Next</a>
  {% endif %}
  </span>
</div>
<p>
  <a href="{{ new::Path }}">Add Contact</a>
</p>
{% endblock content %}
