{% extends "layout.html" %}
{% block title %}Contacts{% endblock title %}

{% block content %}
<form class="tool-bar" action="{{ Path }}" method="get">
  <label>
    Search Term
    <input id="search" type="search" name="q" value="{{ search_term.as_deref().unwrap_or("") }}"
      hx-trigger="search, keyup delay:200ms changed" hx-get="{{ Path }}" hx-target="tbody" hx-push-url="true"
      hx-indicator="next img">
    <input type="submit" value="Search">
    <img class="htmx-indicator" src="/assets/img/spinner.svg">
  </label>
</form>
<p>
  <a href="{{ new::Path }}">Add Contact</a> <span hx-get="{{ count::Path }}" hx-trigger="load"><img
      class="htmx-indicator" src="/assets/img/spinner.svg"></span>
</p>
<div id="archive-ui" hx-target="this">
  {% block archive %}
  {% match archiver_status %}
  {% when ArchiverStatus::Waiting %}
  <button hx-post="{{ archive::Path }}">
    Download Contact Archive
  </button>
  {% when ArchiverStatus::Running with (progress) %}
  <div hx-get="{{ archive::Path }}" hx-trigger="load delay:500ms">
    Creating Archive...
    <button hx-delete="{{ archive::Path }}">Cancel</button>
    <div class="progress">
      <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="{{ progress * 100.0 }}"
        style="width: {{ progress * 100.0 }}%"></div>
    </div>
  </div>
  {% when ArchiverStatus::Complete with (res) %}
  <a hx-boost="false" href="{{ archive::file::Path }}">Archive Ready to download. &downarrow;</a>
  <button hx-delete="{{ archive::Path }}">Reset</button>
  {% endmatch %}
  {% endblock archive %}
</div>
<form>
  <button hx-delete="{{ Path }}" hx-confirm="Are you sure you want to delete these contacts?" hx-target="body">
    Delete Selected Contacts
  </button>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% block rows %}
      {% for contact in contacts %}
      <tr>
        <td><input id="select-{{ contact.id }}" type="checkbox" name="selected_contact_ids" value="{{ contact.id }}">
        </td>
        <td>
          <p><label for="select-{{ contact.id }}">{{ contact.first }}</label></p>
        </td>
        <td>
          <p><label for="select-{{ contact.id }}">{{ contact.last }}</label></p>
        </td>
        <td>
          <p>{{ contact.phone }}</p>
        </td>
        <td>
          <p>{{ contact.email }}</p>
        </td>
        <td>
          <p>
            <a href="{{ item::edit::Path::new(contact.id) }}">Edit</a>
            <a href="{{ item::Path::new(contact.id) }}">View</a>
            <a href="#" hx-delete="{{ item::Path::new(contact.id) }}"
              hx-confirm="Are you sure you want to delete this contact?" hx-target="closest tr"
              hx-swap="outerHTML swap:500ms">Delete</a>
          </p>
        </td>
      </tr>
      {% endfor %}
      {% if contacts.len() == 10 %}
      <tr>
        <td colspan="5" style="text-align: center">
          <span hx-target="closest tr" hx-swap="outerHTML" hx-select="tbody > tr" hx-trigger="revealed"
            hx-get="{{ Path.with_params(search_term, Some(page + 1)) }}">
            Load More
          </span>
        </td>
      </tr>
      {% endif %}
      {% endblock rows %}
    </tbody>
  </table>
</form>
{% endblock content %}